MQConsumer/bin/
MQConsumer/obj/Debug/

MQFactory/bin/
MQFactory/obj/Debug/

#1，docker study and run authserver
#2，identity4 for dotnet core
#3，code first and create foreight key for dotnet core

*.dll
.pdb
.log