MQConsumer/bin/
MQConsumer/obj/


MQFactory/bin/
MQFactory/obj/

#1，docker study and run authserver
#2，identity4 for dotnet core
#3，code first and create foreight key for dotnet core

*.dll
.pdb
.log


**/.DS_Store

.DS_Store

/.idea/

/MQConfig/bin/
/MQConfig/obj/

/MQConsumer/bin/
/MQConsumer/obj/

/MQFactory/bin/
/MQFactory/obj/